<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:utext="#{page.title.show-user}">Page title</title>
</head>
<body>
<form th:action="@{/saveUser}" th:object="${user}" th:method="post">
    <div>
        <input type="hidden" th:field="${user.id}"/>

        <label th:utext="#{table.column.name} + '<br>'">Name</label>
        <input type="text" th:field="${user.name}" placeholder="string" />
        <br>
        <label th:utext="#{table.column.lastName} + '<br>'">Last Name</label>
        <input type="text" th:field="${user.lastName}" placeholder="string" />
        <br>
        <label th:utext="#{table.column.age} + '<br>'">Last Name</label>
        <input type="number" th:field="${user.age}"  placeholder="integer" />
        <br>
        <label th:utext="#{table.column.email} + '<br>'">Last Name</label>
        <input type="text" th:field="${user.email}" placeholder="string" />
        <br>
        <label th:utext="#{table.column.role} + '<br>'">Last Name</label>
        <input type="text" th:field="${user.role}" placeholder="string" />
    </div>

    <div>
        <button type="submit" name="save" th:utext="#{button.save}">Save</button>
        <button type="submit" th:utext="#{button.cancel}">Cancel</button>
    </div>

</form>
</body>
</html>